<ion-content class="wrapper" padding>

  <div class="inner-content" padding>
    <div class="content" padding>
      <form  (ngSubmit)="login()">
        <img src="/assets/logoirf.png" class="logo" alt="">
        <ion-input placeholder="Your Email Address" ></ion-input>
<br>
<br>
        <ion-input placeholder="Your Password" type="password" ></ion-input>
        <ion-button style="color:black;background-color:yellow" expand="block"  type="submit">Login</ion-button>
      </form>
      <ion-row class="line-area">
        <ion-col>
          <ion-row>
            <ion-col></ion-col>
            <ion-col class="line"></ion-col>
          </ion-row>
        </ion-col>
  
        <ion-col>
          <ion-row>
            <ion-col class="line"></ion-col>
            <ion-col></ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
     
    </div>
  </div>


</ion-content>
